body {
  text-align: center;
  }

button {
    display: block;
    margin: 1em auto;
    font-size: large;
    border-radius: 1em;
    padding: 0.5em 1em;
  }

  .container{
    border: 2px solid black;
    margin: 2em auto;
    display: grid;
    max-width: 500px;
    min-height: 500px;
    
  }
  
.gridItem {
    border: 0.5px solid gray;
  }

  #randomColor{
      margin-top: 2em;
  }